@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: var(--background-and-text);
  font-family: "Roboto", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  margin: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-text-color: #212121;
  --accent-text: #2196F3;
  --other-text: #757575;
  --background-and-text: #ffffff;
  --logo-half: #000;
  --block-background: #2F303A;
  --team-background: #F5F4FA;
  --icon-color: #AFB1B8;
}

header {
  border-bottom: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .header__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-text);
}
@media screen and (max-width: 767px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo__span {
  color: var(--logo-half);
}

.list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .header__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .header__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.header__page:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  .header__page:not(:last-child) {
    margin-bottom: 32px;
  }
}

.header__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__link {
    font-size: 40px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__link:hover, .header__link:focus {
  color: var(--accent-text);
}

.header__pages .current {
  color: var(--accent-text);
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts li + li {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts li:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts li:not(:last-child) {
    margin-bottom: 0;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--other-text);
  fill: var(--other-text);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .header__contact {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .header__tel {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.2;
    color: var(--accent-text);
  }
}

@media screen and (max-width: 767px) {
  .header__mail {
    margin-bottom: 64px;
    font-size: 24px;
    line-height: 1.1;
  }
}

.header__contact:hover,
.header__contact:focus {
  color: var(--accent-text);
  fill: var(--accent-text);
}

.header__icons {
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .header__icons {
    display: none;
  }
}

.header__pages li {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-text);
}
@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__links {
    display: none;
  }
}

.header__links-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-text);
}

.header__links-link {
  margin-right: 10px;
}

.header__links-link p {
  margin-left: 10px;
  color: rgba(33, 33, 33, 0.2);
}

.hero {
  background-color: var(--block-background);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/Header\ img_mob@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/Header\ img_mob@1x.jpg);
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/Header\ img_mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/Header\ img_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/Header\ img_tab@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/Header\ img_tab@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/Header\ img_tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/Header\ img_tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/Header\ img_desc@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/Header\ img_desc@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/Header\ img_desc@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/Header\ img_desc@2x.jpg);
  }
}

.hero__block {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero__block {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__logo {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-and-text);
}
@media screen and (min-width: 480px) {
  .hero__logo {
    width: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__logo {
    width: 390px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__logo {
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
  }
}

.hero__button {
  margin-top: 30px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background: var(--accent-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--background-and-text);
  border: none;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
@media screen and (min-width: 480px) {
  .backdrop {
    padding-top: 94px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 94px;
  left: 15px;
  right: 15px;
  max-width: 450px;
  background-color: var(--background-and-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    left: 50%;
    min-width: 528px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__name {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__name {
    line-height: 1.1;
  }
}

/* close button */
.close-button__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-and-text);
  cursor: pointer;
  fill: var(--logo-half);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover,
.modal__close-button:focus {
  fill: var(--accent-text);
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--other-text);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__field + .form__field {
  margin-top: 10px;
}

.field__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--other-text);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.field__input {
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__icons {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__input:focus ~ .field__icons,
.field__input:hover ~ .field__icons {
  fill: var(--accent-text);
}

.field__input:focus,
.field__input:hover {
  border-color: var(--accent-text);
  outline: none;
}

.field__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  resize: none;
}

.field__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check__field {
  margin-top: 20px;
}

.check__polici {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--accent-text);
}

.check__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--other-text);
}
@media screen and (min-width: 1200px) {
  .check__label {
    font-size: 14px;
    line-height: 1.9;
  }
}

.check__icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__input:checked + .check__icon {
  border-color: var(--accent-text);
  background-color: var(--accent-text);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal__send-button {
  margin-top: 30px;
  padding: 10px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background: var(--accent-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--background-and-text);
  border: none;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__send-button:hover,
.modal__send-button:focus {
  background-color: #188CE8;
}

/* іконки для списку скілс */
.skill__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  background-color: var(--team-background);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .skill__icons {
    width: 270px;
  }
}

/* Блок з Нашими особливостями */
.softskills {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .softskills {
    padding-top: 90px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }
}

@media screen and (min-width: 768px) {
  .skills__item {
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .skills__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .skills li + li {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .skills li:not(:last-child) {
    margin-bottom: 20px;
  }
}

.skill__name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .skill__name {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .skill__name {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.skill__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--other-text);
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 0;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__cards:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about__cards:not(:last-child) {
    margin-bottom: 0;
  }
}

.about__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .about__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .about__cards {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .about__cards + .about__cards {
    margin-left: 30px;
  }
}

.about__photo {
  position: relative;
}

.photo__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-and-text);
  background-color: rgba(47, 48, 58, 0.8);
}

.about__img {
  max-width: none;
}

.team {
  background-color: var(--team-background);
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}
@media screen and (max-width: 767px) {
  .team__name {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__list li + li {
    margin-left: 30px;
  }
}

.teammate:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .teammate:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .teammate:not(:last-child) {
    margin-bottom: 0;
  }
}

.teammate {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-and-text);
}
@media screen and (max-width: 767px) {
  .teammate img {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .teammate img {
    width: 270px;
    max-width: none;
  }
}
@media screen and (min-width: 768px) {
  .teammate {
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .teammate {
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
}

.teammate__name {
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.teammate__card {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.teammate__skill {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 10px;
  color: var(--other-text);
}

/* іконки для карток тіммейтів */
.teammate__social-icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__button:hover,
.social-icons__button:focus {
  background-color: var(--accent-text);
  fill: var(--background-and-text);
}

.partners {
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .partners {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.partners__name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .partners__name {
    margin-bottom: 30px;
  }
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  padding: 0;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .partners__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .partners__unit {
    -ms-flex-preferred-size: calc(33.3333333333% - 20px);
        flex-basis: calc(33.3333333333% - 20px);
  }
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--icon-color);
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .partners__link {
    width: 210px;
  }
}
.partners__link:hover, .partners__link:focus {
  border: 1px solid var(--accent-text);
  fill: var(--accent-text);
  color: var(--accent-text);
}
@media screen and (min-width: 1200px) {
  .partners__link {
    width: 170px;
  }
}

.partners__icon {
  width: 106px;
  height: 60px;
}

.footer {
  background-color: var(--block-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.fot-info {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .fot-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}

.footer__address {
  margin-top: 20px;
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-text);
}

.logo-footer__span {
  color: var(--background-and-text);
}

@media screen and (min-width: 1200px) {
  .info {
    width: 231px;
  }
}

.info__adress {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-and-text);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__adress:hover,
.info__adress:focus {
  color: var(--accent-text);
}

.info__item {
  margin-top: 9px;
}

.info__item:first-child {
  margin-top: 0;
}

.info__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__contacts:hover,
.info__contacts:focus {
  color: var(--accent-text);
}

/* Bot social */
.social {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .social {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    margin-left: 70px;
    padding-left: 0;
  }
}

.social__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--background-and-text);
}
@media screen and (max-width: 1199px) {
  .social__name {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .social__name {
    margin-left: 0;
    padding-left: 0;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .icons {
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
}

.icons li + li {
  margin-left: 10px;
}

.icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__link:hover,
.icon__link:focus {
  background-color: var(--accent-text);
}

.footer__icon {
  fill: var(--background-and-text);
}

/* Підписка на розсилку */
@media screen and (min-width: 768px) {
  .footer-form {
    padding-left: 159px;
    padding-right: 159px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .form__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form__name {
  padding-left: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--background-and-text);
}
@media screen and (min-width: 1200px) {
  .form__name {
    display: block;
  }
}

.form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  color: var(--background-and-text);
  background-color: var(--block-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form__input:focus {
  outline: none;
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 358px;
  }
}

.mail-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.mail-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.mail-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.mail-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.mail-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.form__button {
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background: var(--accent-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--background-and-text);
  border: none;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:hover, .form__button:focus {
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .form__button {
    margin-left: 12px;
  }
}

.form__button {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .form__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
}

.form__icon {
  fill: var(--background-and-text);
  margin-left: 10px;
}

.projects__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .projects__buttons {
    gap: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .projects__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projects-butoons__item {
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .projects-butoons__item {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .projects-butoons__item {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects-butoons__item + .projects-butoons__item {
    margin-left: 8px;
  }
}

.project__butoon {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--team-background);
  border: none;
  border-radius: 4px;
  padding: 6px 26px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__butoon:hover, .project__butoon:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--background-and-text);
  background-color: var(--accent-text);
}

.project__butoon:not(:last-child) {
  margin-right: 8px;
}

.projects__list {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .projects__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
  .projects__list .projects__list > .card {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .projects__list {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .projects__list .projects__list > .card {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}

@media screen and (max-width: 767px) {
  .project__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.card__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--other-text);
  margin-top: 4px;
}

.card__content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}
@media screen and (min-width: 768px) {
  .card__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card__content {
    width: 370px;
    padding-right: 0;
  }
}

/* Оверлей для карток портфоліо */
.card__thumb {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .card__thumb img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card__thumb img {
    width: 370px;
  }
}

.card__thumb .card__discription {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--background-and-text);
}
@media screen and (max-width: 767px) {
  .card__thumb .card__discription {
    padding: 77px 30px;
  }
}
@media screen and (min-width: 768px) {
  .card__thumb .card__discription {
    padding: 63px 24px;
    padding-top: 59px;
  }
}
@media screen and (min-width: 1200px) {
  .card__thumb .card__discription {
    padding: 63px 24px;
  }
}

.card:hover .card__discription,
.card:focus .card__discription {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile__button.is-open .header__logo {
  z-index: 2;
}

.header__menu-mobile {
  display: contents;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.header__menu-mobile.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 48px;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .header__menu-mobile {
    display: none;
    padding-top: 48px;
  }
}

.header__menu-mobile.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile__button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff;
}
.mobile__button:hover, .mobile__button:focus {
  fill: var(--accent-text);
}
@media screen and (min-width: 768px) {
  .mobile__button {
    display: none;
  }
}

.mobile__button .icon-menu {
  display: none;
}

.mobile__button.is-open .icon-menu {
  display: block;
}

.mobile__button.is-open .icon-cross {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-text);
  background-color: #fff;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .current {
  color: var(--primary-text-color);
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu__list:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__link {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-text);
}

.mobile-menu .current {
  color: var(--accent-text);
}

.customer-reviews {
  background-position: center;
  background-size: cover;
  background-image: url(../images/customers-background/customersreviews-bg_480@1x.png);
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url(../images/customers-background/customersreviews-bg_480@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .customer-reviews {
    background-image: url(../images/customers-background/customersreviews-bg_768@1x.png);
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url(../images/customers-background/customersreviews-bg_768@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    background-image: url(../images/customers-background/customersreviews-bg_1200@1x.png);
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url(../images/customers-background/customersreviews-bg_1200@2x.png);
  }
}

.customers__photo {
  padding-top: 178px;
}
@media screen and (min-width: 768px) {
  .customers__photo {
    padding-top: 283px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__photo {
    padding-top: 480px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper__gallery {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  position: absolute;
  top: -32px;
  right: 0;
}
@media screen and (min-width: 768px) {
  .swiper__gallery {
    padding-right: 0;
    padding-left: 0;
    width: 704px;
    top: -130px;
    right: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper__gallery {
    padding-right: 0;
    padding-left: 0;
    width: 1013px;
    top: -94px;
    right: 80px;
  }
}

.customers__photo {
  margin-bottom: 32px;
}

.customers__comments {
  padding: 35px 39px;
  width: 420px;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  background-color: #84A178;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .customers__comments {
    padding: 28px 80px;
    width: 705px;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
  }
}
@media screen and (min-width: 1200px) {
  .customers__comments {
    padding: 43px 109px;
    width: 968px;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
  }
}

.customers__name {
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
}

.swiper-pagination-bullet-active {
  background: #84A178;
}

.swiper-pagination {
  position: relative;
  margin-top: 12px;
  margin-bottom: 393px;
}
@media screen and (min-width: 768px) {
  .swiper-pagination {
    margin-bottom: 228px;
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-pagination {
    margin-bottom: 228px;
    margin-top: 32px;
  }
}/*# sourceMappingURL=main.css.map */