@import "./utils/normalize";
@import "./components/base";
@import "./utils/veriables";
@import "./components/page-header";
@import "./components/hero";
@import "./components/modal-vindow";
@import "./components/modal-fields";
@import "./components/softskills";
@import "./components/about";
@import "./components/team";
@import "./components/partners";
@import "./components/page-footer";
@import "./components/footer-form";
@import "./components/project-buttons";
@import "./components/projects";
@import "./components/header-mobile";