.header__mobile {
    @media screen and (min-width: 480px) {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding-top: 16px;
        padding-bottom: 16px;  
      }
}

.mobile__button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;


    &:hover, &:focus {
        fill: var(--accent-text);
    }
    @media screen and (min-width: 768px) {
        display: none  
      }
}

.mobile__button .icon-cross {
    display: none;
}

.mobile__button.is-open .icon-cross {
    display: block;
}

.mobile__button.is-open .icon-menu {
    display: none;
}
