.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--other-text);
    letter-spacing: 0.01em;
    
    margin-bottom: 4px;
  }
  
  .form__field + .form__field {
    margin-top: 10px;
  }
  
  .field__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--other-text);
    letter-spacing: 0.01em;
  
    margin-bottom: 4px; 
  }
  
  .field__input {
    padding: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .field__icons {
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: var(--primary-text-color);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .field__input:focus ~ .field__icons,
  .field__input:hover ~ .field__icons {
    fill: var(--accent-text);
  }
  
  .field__input:focus,
  .field__input:hover {
    border-color: var(--accent-text);
    outline: none;
  }
  
  .field__textarea {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
  
    resize: none;
  }
  
  .field__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }
  
  .check__field {
    margin-top: 20px;
  }
  
  .check__polici {
    margin-left: 4px;
    text-decoration: underline;
    color: var(--accent-text);
  }
  
  .check__label {
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  
    color: var(--other-text);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.9;
      }
  }
  
  .check__icon {
    display: inline-block;
    margin-right: 8px;
  
    width: 16px;
    height: 15px;
  
    border: 2px solid var(--primary-text-color); 
    border-radius: 2px;
  }
  
  .check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .check__input:checked + .check__icon {
    border-color: var(--accent-text);
    background-color: var(--accent-text);
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
  
  .modal__send-button {
     margin-top: 30px;
     padding: 10px 52px;
  
     font-family: inherit;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.9;
     background: var(--accent-text);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     cursor: pointer;
     
     color: var(--background-and-text);
     border: none;
     letter-spacing: 0.06em;
  
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__send-button:hover,
  .modal__send-button:focus {
    background-color: #188CE8;
  }