.footer {
    background-color: var(--block-background);
    padding-top: 60px;
    padding-bottom: 60px;
 }

 .fot-info {
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;   
  }
}

.footer__tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;  
    margin-bottom: 60px;
  }
}

 .footer__address {
  margin-top: 20px;
  
 }

 .logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-text);
 }

 .logo-footer__span {
   color: var(--background-and-text);
 }

 .info {
  @media screen and (min-width: 1200px) {
    width: 231px;
  }
 }

 .info__adress {
   font-weight: 400;
   font-size: 14px;
   font-style: normal;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: var(--background-and-text);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .info__adress:hover,
 .info__adress:focus {
   color: var(--accent-text);
 }

 .info__item {
  margin-top: 9px;
 }

.info__item:first-child {
  margin-top: 0;
}

 .info__contacts {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .info__contacts:hover,
 .info__contacts:focus {
   color: var(--accent-text);
 }

/* Bot social */

.social {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    padding-left: 0;
  }
}

.social__name {

  text-transform: uppercase;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
  color: var(--background-and-text);

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    padding-left: 0; 
  }
}


.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 0;

  @media screen and (min-width: 1200px) {
    justify-content: none;
  }
}

.icons li + li {
  margin-left: 10px;
}

.icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.1) ;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__link:hover,
.icon__link:focus {
  background-color: var(--accent-text);
}

.footer__icon {
  fill: var(--background-and-text);
}

