
/* іконки для списку скілс */

.skill__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    width: 100%;
    background-color: var(--team-background);
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
      width: 270px;  
    }
  }
  
  /* Блок з Нашими особливостями */
  .softskills {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      padding-top: 90px;  
      padding-bottom: 0; 
    }
  }

  .skills {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex; 
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  .skills__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 15px);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4);   
    }
  }

  .skills li + li {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;  
    }
  }

  .skills li:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  .skill__name {
    text-align: center;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.1;
     letter-spacing: 0.03em;
     margin-left: 0;

     @media screen and (min-width: 768px) {
      text-align: left;   
    }
    @media screen and (max-width: 767px) {
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }
  
  .skill__discription{
        
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: var(--other-text);
      margin-top: 10px;
      margin-left: 0;
      margin-bottom: 0;
  }