:root {
    --primary-text-color: #212121;
    --accent-text: #2196F3;
    --other-text: #757575;
    --background-and-text: #ffffff;
    --logo-half: #000;
    --block-background: #2F303A;
    --team-background: #F5F4FA;
    --icon-color: #AFB1B8;
}

body {
   background-color: var(--background-and-text);
   font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}


h1, 
h2, 
h3, 
ul, 
p {
  margin: inherit;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}


 .visually-hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }