:root {
    --primary-text-color: #212121;
    --accent-text: #2196F3;
    --other-text: #757575;
    --background-and-text: #ffffff;
    --logo-half: #000;
    --block-background: #2F303A;
    --team-background: #F5F4FA;
    --icon-color: #AFB1B8;
}

